<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="insertBook()">Insert Book</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" id = "searchBook" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchBook()">Search</button>
      </form>
    </div>
  </nav>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
            <th scope="col">Availability</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody *ngIf="view == 1">

          <tr *ngFor="let book of bookList">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td *ngIf="book.avability">Available</td>
            <td *ngIf="book.avability == false">Not Available</td>
            <td>
                <button type="button" class="btn btn-outline-danger" style = "margin-right:5px;" (click)="deleteBook(book)">Delete</button>
                
                <button type="button" class="btn btn-outline-info" (click)="updateBook(book)">Update</button>
          </td>
       
          </tr>

      

 </tbody>
          <tbody *ngIf= "view == 2">
            <tr *ngFor="let book of foundBook">
              <td>{{book.name}}</td>
              <td>{{book.author}}</td>
              <td *ngIf="book.avability">Available</td>
              <td *ngIf="book.avability == false">Not Available</td>
              <td>
                  <button type="button" class="btn btn-outline-danger" style = "margin-right:5px;" (click)="deleteBook(book)">Delete</button>
                  
                  <button type="button" class="btn btn-outline-info" (click)="updateBook(book)">Update</button>
            </td>
         
            </tr>
  
          </tbody>
          
         
       
      </table>



  

  
