<html>
  <body>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Book Name</label>
      <input class = "reg" type="text" id = "name" class="form-control" id="inputBookName" aria-describedby="emailHelp" placeholder="Enter Book Name"  [(ngModel)] = "givenBook.name"  onkeyup='enableButton()' [ngModelOptions]="{standalone:true}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Author Name</label>
        <input class = "reg" type="text" class="form-control" id="inputAuthorName" aria-describedby="emailHelp" placeholder="Enter Author Name"  [(ngModel)] = "givenBook.author" [ngModelOptions]="{standalone:true}" onkeyup="enableButton()">
      </div>

    <div class="form-check">
      <input class = "reg" type="checkbox" class="form-check-input" id="exampleCheck1"  [(ngModel)] = "givenBook.avability" [ngModelOptions]="{standalone:true}" onkeyup='enableButton()'>
      <label class="form-check-label" for="exampleCheck1">Availability</label>
    </div>
    <button id="sub" type="submit" class="btn btn-success" (click)="insert()" disabled="true">Submit</button>
  </form>
  
<script>

  function enableButton(){
  var tags = document.getElementsByClassName("var");
  var valid = 1;
  for(let i=0;i<tags.length;i++){
    if(tags[i].value.length == 0){
      valid = 0;
      break;
    }
  }
  if(valid) document.getElementById("sub").disabled = false;
  }
</script>
</body>
</html>